params {
  query = "assets/input.fasta"
  dbDir = "assets/blastDB"
  dbName = "blastDB"
  threads = 2
  outdir = "out_dir"
  outFileName = "input.blastout"
  options = "-evalue 1e-3"
  outfmt = "'6'"
  app = "blastn"
  help = false
  genome = false
}

docker { docker.enabled = true }
profiles {
    standard {
        cleanup = true
    }
    debug {
        cleanup = false
    }
    test {
      includeConfig './configs/test.config'
      cleanup = true

    }
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}
